/* @import '~antd/dist/antd.css'; */

.menuItemLogo{
  display: flex;
    width: 35%;
}

.menuBlock{
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuItem{
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: azure; */
  margin: 3px;
}

.menuItem:hover{
  background-color: #6096c2;
  transform: scale(1.1);

}

